<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Forced</key>
	<array>
		<dict>
			<key>mcx_preference_settings</key>
			<dict>
				<key>DisableBluetooth</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>mcx_targets</key>
	<array>
		<string>system-managed</string>
	</array>
</dict>
</plist>