<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>AbusiveExperienceInterventionEnforce</key>
	<true/>
	<key>AdsSettingForIntrusiveAdsSites</key>
	<integer>2</integer>
	<key>AllowDeletingBrowserHistory</key>
	<true/>
	<key>AllowDinosaurEasterEgg</key>
	<false/>
	<key>AllowFileSelectionDialogs</key>
	<true/>
	<key>AllowOutdatedPlugins</key>
	<true/>
	<key>AllowPopupsDuringPageUnload</key>
	<false/>
	<key>AllowSyncXHRInPageDismissal</key>
	<false/>
	<key>AlwaysOpenPdfExternally</key>
	<true/>
	<key>AutoFillEnabled</key>
	<false/>
	<key>AutofillAddressEnabled</key>
	<false/>
	<key>AutofillCreditCardEnabled</key>
	<false/>
	<key>AutoplayAllowed</key>
	<false/>
	<key>BlockThirdPartyCookies</key>
	<false/>
	<key>ClearSiteDataOnExit</key>
	<true/>
	<key>BookmarkBarEnabled</key>
	<true/>
	<key>BrowserAddPersonEnabled</key>
	<false/>
	<key>BrowserGuestModeEnabled</key>
	<true/>
	<key>BrowserGuestModeEnforced</key>
	<false/>
	<key>BrowserNetworkTimeQueriesEnabled</key>
	<false/>
	<key>BrowserSignin</key>
	<integer>0</integer>
	<key>BuiltInDnsClientEnabled</key>
	<false/>
	<key>CloudPrintProxyEnabled</key>
	<false/>
	<key>CloudPrintSubmitEnabled</key>
	<false/>
	<key>ComponentUpdatesEnabled</key>
	<true/>
	<key>DefaultBrowserSettingEnabled</key>
	<false/>
	<key>DeveloperToolsDisabled</key>
	<false/>
	<key>DisablePluginFinder</key>
	<true/>
	<key>DefaultCookiesSetting</key>
	<integer>4</integer>
	<key>DefaultDownloadDirectory</key>
	<string>~/Desktop</string>
	<key>DefaultGeolocationSetting</key>
	<integer>2</integer>
	<key>DefaultImagesSetting</key>
	<integer>1</integer>
	<key>DefaultJavaScriptSetting</key>
	<integer>1</integer>
	<key>DefaultNotificationsSetting</key>
	<integer>2</integer>
	<key>DefaultPluginsSetting</key>
	<integer>1</integer>
	<key>DefaultPopupsSetting</key>
	<integer>1</integer>
	<key>DefaultPrinterSelection</key>
	<string></string>
	<key>DefaultWebBluetoothGuardSetting</key>
	<integer>2</integer>
	<key>DefaultWebUsbGuardSetting</key>
	<integer>2</integer>
	<key>DeveloperToolsAvailability</key>
	<integer>2</integer>
	<key>Disable3DAPIs</key>
	<false/>
	<key>DisablePrintPreview</key>
	<true/>
	<key>DisableSafeBrowsingProceedAnyway</key>
	<false/>
	<key>DisableScreenshots</key>
	<false/>
	<key>DownloadDirectory</key>
	<string>~/Desktop</string>
	<key>ExtensionInstallBlacklist</key>
	<array>
		<string>*</string>
	</array>
	<key>ExtensionInstallForcelist</key>
	<array>
		<string>icpgjfneehieebagbmdbhnlpiopdcmna;https://clients2.google.com/service/update2/crx</string>
	</array>
	<key>ExtensionInstallWhitelist</key>
	<array>
		<string>icpgjfneehieebagbmdbhnlpiopdcmna</string>
	</array>
	<key>HideWebStorePromo</key>
	<true/>
	<key>DownloadRestrictions</key>
	<integer>0</integer>
	<key>EnableMediaRouter</key>
	<false/>
	<key>ExtensionSettings</key>
	<dict/>
	<key>HardwareAccelerationModeEnabled</key>
	<true/>
	<key>HideWebStoreIcon</key>
	<false/>
	<key>HomepageIsNewTabPage</key>
	<false/>
	<key>HomepageLocation</key>
	<string>https://it.stonybrook.edu</string>
	<key>ImportAutofillFormData</key>
	<false/>
	<key>ImportBookmarks</key>
	<false/>
	<key>ImportHistory</key>
	<false/>
	<key>ImportHomepage</key>
	<false/>
	<key>ImportSavedPasswords</key>
	<false/>
	<key>ImportSearchEngine</key>
	<false/>
	<key>JavascriptEnabled</key>
	<true/>
	<key>LegacySameSiteCookieBehaviorEnabled</key>
	<integer>1</integer>
	<key>LegacySameSiteCookieBehaviorEnabledForDomainList</key>
	<array/>
	<key>NewTabPageLocation</key>
	<string></string>
	<key>PasswordManagerEnabled</key>
	<false/>
	<key>PayloadDescription</key>
	<string>Configures Google Chrome settings</string>
	<key>PayloadDisplayName</key>
	<string>Google Chrome</string>
	<key>PayloadIdentifier</key>
	<string>com.google.Chrome</string>
	<key>PayloadOrganization</key>
	<string></string>
	<key>PayloadType</key>
	<string>com.google.Chrome</string>
	<key>PayloadUUID</key>
	<string></string>
	<key>PayloadVersion</key>
	<integer>1</integer>
	<key>PrintHeaderFooter</key>
	<false/>
	<key>PrintPreviewUseSystemDefaultPrinter</key>
	<true/>
	<key>PrintingEnabled</key>
	<true/>
	<key>PromotionalTabsEnabled</key>
	<false/>
	<key>ProxySettings</key>
	<dict/>
	<key>RestoreOnStartup</key>
	<integer>4</integer>
	<key>RestoreOnStartupURLs</key>
	<array>
		<string>https://it.stonybrook.edu</string>
		<string>http://it.stonybrook.edu/tlt-suggestions</string>
	</array>
	<key>SafeBrowsingEnabled</key>
	<true/>
	<key>SavingBrowserHistoryDisabled</key>
	<true/>
	<key>ShowAppsShortcutInBookmarkBar</key>
	<false/>
	<key>ShowCastIconInToolbar</key>
	<false/>
	<key>ShowHomeButton</key>
	<true/>
	<key>VideoCaptureAllowedUrls</key>
	<array/>
	<key>WebDriverOverridesIncompatiblePolicies</key>
	<false/>
	<key>SyncDisabled</key>
	<true/>
	<key>PluginsAllowedForUrls</key>
	<array>
		<string>http://*</string>
		<string>https://*</string>
	</array>
</dict>
</plist>