<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>AlwaysShowTabBar</key>
	<true/>
	<key>AskBeforeSubmittingInsecureForms</key>
	<true/>
	<key>AutoFillFromAddressBook</key>
	<false/>
	<key>AutoFillMiscellaneousForms</key>
	<false/>
	<key>AutoFillPasswords</key>
	<false/>
	<key>AutoOpenSafeDownloads</key>
	<false/>
	<key>BlockStoragePolicy</key>
	<integer>2</integer>
	<key>BookmarksCollectionsIncludeAddressBook</key>
	<false/>
	<key>BookmarksCollectionsIncludeRendezvous</key>
	<false/>
	<key>BookmarksMenuIncludesAddressBook</key>
	<false/>
	<key>BookmarksMenuIncludesBookmarksToolbar</key>
	<false/>
	<key>BookmarksMenuIncludesRendezvous</key>
	<false/>
	<key>CanPromptForPushNotifications</key>
	<false/>
	<key>CommandClickMakesTabs</key>
	<true/>
	<key>ConfirmClosingMultiplePages</key>
	<true/>
	<key>DefaultBrowserPromptingState2</key>
	<integer>1</integer>
	<key>DefaultDatabaseQuota</key>
	<integer>10485760</integer>
	<key>DidDisableIndividualExtensionsAfterRemovingOnOffSwitchIfNecessary</key>
	<true/>
	<key>DownloadsClearingPolicy</key>
	<integer>1</integer>
	<key>DownloadsPath</key>
	<string>~/Desktop/</string>
	<key>ExtensionsEnabled</key>
	<false/>
	<key>HistoryAgeInDaysLimit</key>
	<integer>1</integer>
	<key>HomePage</key>
	<string>https://it.stonybrook.edu</string>
	<key>IncludeDevelopMenuPreferenceKey</key>
	<false/>
	<key>IncludeDevelopMenu</key>
	<false/>
	<key>NewTabBehavior</key>
	<integer>0</integer>
	<key>NewWindowBehavior</key>
	<integer>0</integer>
	<key>OpenNewTabsInFront</key>
	<false/>
	<key>SafariGeolocationPermissionPolicy</key>
	<integer>0</integer>
	<key>PayloadDescription</key>
	<string>Configures Safari configuration preferences</string>
	<key>PrintHeadersAndFooters</key>
	<true/>
	<key>SendDoNotTrackHTTPHeader</key>
	<true/>
	<key>ShowStatusBar</key>
	<true/>
	<key>PMPrintingExpandedStateForPrint2</key>
	<true/>
	<key>"ShowFavoritesBar-v2"</key>
	<true/>
	<key>TabCreationPolicy</key>
	<integer>1</integer>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2DefaultTextEncodingName</key>
	<string>ISO-8859-1</string>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaEnabled</key>
	<true/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaScriptCanOpenWindowsAutomatically</key>
	<false/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaScriptEnabled</key>
	<true/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2LoadsImagesAutomatically</key>
	<true/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2PluginsEnabled</key>
	<true/>
	<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2PrivateBrowsingEnabled</key>
	<true/>
</dict>
</plist>
