<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
	<dict>
		<key>AskBeforeSubmittingInsecureForms</key>
		<true/>
		<key>AutoFillFromAddressBook</key>
		<false/>
		<key>AutoFillMiscellaneousForms</key>
		<false/>
		<key>AutoFillPasswords</key>
		<false/>
		<key>AutoOpenSafeDownloads</key>
		<false/>
		<key>BlockStoragePolicy</key>
		<integer>1</integer>
		<key>BookmarksCollectionsIncludeAddressBook</key>
		<false/>
		<key>BookmarksCollectionsIncludeRendezvous</key>
		<false/>
		<key>BookmarksMenuIncludesAddressBook</key>
		<false/>
		<key>BookmarksMenuIncludesBookmarksToolbar</key>
		<true/>
		<key>BookmarksMenuIncludesRendezvous</key>
		<false/>
		<key>CanPromptForPushNotifications</key>
		<false/>
		<key>CommandClickMakesTabs</key>
		<true/>
		<key>ConfirmClosingMultiplePages</key>
		<true/>
		<key>DefaultBrowserPromptingState2</key>
		<integer>1</integer>
		<key>DidDisableIndividualExtensionsAfterRemovingOnOffSwitchIfNecessary</key>
		<true/>
		<key>DownloadsClearingPolicy</key>
		<integer>0</integer>
		<key>DownloadsPath</key>
		<string>~/Desktop/</string>
		<key>ExtensionsEnabled</key>
		<false/>
		<key>HistoryAgeInDaysLimit</key>
		<integer>1</integer>
		<key>HomePage</key>
		<string>https://it.stonybrook.edu</string>
		<key>IncludeDevelopMenu</key>
		<false/>
		<key>NewTabBehavior</key>
		<integer>0</integer>
		<key>NewWindowBehavior</key>
		<integer>0</integer>
		<key>OpenNewTabsInFront</key>
		<true/>
		<key>SendDoNotTrackHTTPHeader</key>
		<true/>
		<key>TabCreationPolicy</key>
		<integer>0</integer>
		<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaEnabled</key>
		<true/>
		<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaScriptEnabled</key>
		<true/>
		<key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2PluginsEnabled</key>
		<true/>
	</dict>
</plist>
